<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436556103949-bvu238s1fb1t4tctrp7vjebh4hn8gcje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436556103949-bvu238s1fb1t4tctrp7vjebh4hn8gcje</string>
	<key>API_KEY</key>
	<string>AIzaSyD_h-XrxCp36uOpb0EiDhu0OulHCuL7Rl0</string>
	<key>GCM_SENDER_ID</key>
	<string>436556103949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RodMon.CourtClan</string>
	<key>PROJECT_ID</key>
	<string>courtclan-8abe2</string>
	<key>STORAGE_BUCKET</key>
	<string>courtclan-8abe2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436556103949:ios:b02cd53793515db2d37044</string>
</dict>
</plist>